:root {
    /* Variáveis genéricas - serão sobrescritas pelas classes de paleta */
    --cor-primaria-1: #4D5673;
    --cor-primaria-2: #44A1F2;
    --cor-primaria-3: #6BB7FF;
    --cor-primaria-4: #B0D6FF;

    --cor-secundaria-1: #0D0D0D;
    --cor-secundaria-2: #5A5A5A;
    --cor-secundaria-3: #D9D9D9;
    --cor-secundaria-4: #F2F2F2;

    --texto-primario: #333333;
    --texto-secundario: #5a5a5a;
    --texto-terciario: #777777;

    --fundo: #F5F7FA;
    --fundo-card: #FFFFFF;

    --cor-destaque: #44A1F2;
    --fundo-destaque: #E1F0FF;
    --fundo-destaques: #32333339;

    --cor-borda: #E0E5EB;

    --efeito-sm: 0 1px 3px rgba(68, 161, 242, 0.12);
    --efeito-md: 0 4px 6px rgba(68, 161, 242, 0.16);
    --efeito-lg: 0 10px 15px rgba(68, 161, 242, 0.2);
    --efeito-glow: 0 10px 20px rgba(68, 161, 242, 0.3);
}


.habilidades-scroll-cards {
    position: relative;
    overflow: hidden;
    padding: 0px 65px 0px 50px;
    background-color: var(--cor-fundo);
}

.habilidades-scroll {
    padding: 20px 0px 20px 0px;
    display: flex;
    gap: 15px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.habilidade-card {
    background-color: var(--fundo-card);
    box-shadow: var(--efeito-lg);
    border-radius: 16px;
    padding: 20px;
}

.habilidade-card:hover {
    background: var(--fundo-destaque);
    box-shadow: var(--cor-primaria-4);
    transform: scale(1.03);
    transition: all 0.3s ease;
    transform: translateY(-5px);
}

.descricao-Habilidades {
    font-size: 14px;
    padding: 6px 16px 30px 6px;
    text-align: justify;
    color: var(--texto-secundario, #555);
}