.nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background: var(--fundo-card);
  box-shadow: var(--efeito-glow);
  width: 100vw;
  z-index: 1;
}

.nav-esquerda {
  padding-left: 75px;
  font-size: 19px;
  font-weight: 700;
  color: var(--primary-dark);
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s ease;
  gap: 5px;

}

.nav-esquerda:hover {
  transform: scale(1.05);
}
.logo1 {
  color: var(--cor-secundaria);
}

.logo2 {
  color: var(--cor-destaque);
}






.nav-direita {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.links {
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease;
  position: relative;
  color: var(--text-color);
  text-decoration: none;
}

.links:hover {
  color: var(--cor-primaria-2);
  transform: translateY(-2px);
}

.links::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--cor-primaria-2);
  transition: all 0.5s ease;
}

.links:hover::after {
  width: 100%;
}